show.html.erb

<h1 class="ui centered row header container"><%= @user.name %></h1>
<h2 class="ui centered row header container"><%= @user.profession %></h2>
<a class="ui centered row header container"><%= @user.about %></a>
