<div>
  <div class="featureimage"></div>
</div>

<img class="ui medium circular image" src=" /background.jpg">


<a class="ui centered row header"><%= @user.email %></a>
<a class="ui centered row header"><%= @user.name %></a> -->




</div>
