<div class= "ui middle aligned center featureimage">
  <p></p>
<p></p>

<img class="ui small circular image container" src=" /becks.jpg">

<h1 class="ui centered row header container"><%= @user.name %></h1>
<h2 class="ui centered row header container"><%= @user.profession %></h2>
<a class="ui centered row header container"><%= @user.about %></a>

</div>
