/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic-ui
 *= semantic-ui/collections/menu
*/

.box {
  border: 1px dotted;
}

.featureimage {
  width:100%;  height:30%;  position:absolute;    background:transparent url("/background.jpg") repeat scroll 0% 0%;
}

.cover {
  width:100%;
  background-image: url("http://media.istockphoto.com/vectors/seamless-polka-dot-golden-pattern-vector-id481399666");
  height: 200px;
}
