<div>
  <div class="featureimage"></div>
  YOUR OTHER CONTENTTT
</div>

<img class="ui medium circular image" src="/images/wireframe/square-image.png">

<form class="ui form">
  <div class="field">
    <label>Name</label>
    <input type="text" name="name" placeholder="Name">
  </div>
  <div class="field">
    <label>Profession</label>
    <input type="text" name="profession" placeholder="Profession">
  </div>
  <div class="field">
    <label>About Me</label>
    <textarea></textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
